extends layout

block content
   .row
    .col-md-6.col-lg-6
      h4 Notices
        a.btn.btn-default(href='/notice/add') Add Notice
      ul.list-group
        each notice, i in notices
          li.list-group-item
            .container-fluid
              #m9.message-item
                .message-inner
                  .message-head.clearfix
                    .avatar.pull-left
                      notice.author
                        img(src='/images/avatar/'+user.image alt="avatar" height="50px")
                    .user-detail
                      h5.handle= notice.title
                      .post-meta
                        .asker-meta
                          span.qa-message-what
                          span.qa-message-when
                            span.qa-message-when-data=notice.timeStamp
                          span.qa-message-who
                            span.qa-message-who-pad #{" "} by #{" "}
                            span.qa-message-who-data=notice.author
                  .qa-message-content.padding-top
                    p=notice.body
                  a.pull-left(href='/notice/edit/' + notice._id) Edit
    .col-md-6.col-lg-6
      h4 Events
        a.btn.btn-default(href='/event/add') Add Event
      ul.list-group
        each event, i in events
          li.list-group-item
            .container-fluid
              #m9.message-item
                .message-inner
                  .message-head.clearfix
                    .avatar.pull-left
                      notice.author
                        img(src='/images/avatar/'+user.image alt="avatar" height="50px")
                    .user-detail
                      h5.handle= event.title
                      .post-meta
                        .asker-meta
                          span.qa-message-what
                          span.qa-message-when
                            span.qa-message-when-data=event.timeStamp
                          span.qa-message-who
                            span.qa-message-who-pad #{" "} by #{" "}
                            span.qa-message-who-data=event.author
                  .qa-message-content.padding-top
                    label="Opis: " + event.body
                    p="Datum i vrijeme: " + event.date + "|" + event.time
